<header>
US Olympic Skater Info
</header>

<Body class="back-stats">
<div class="stats">
	<div>
		<li><%= Faker::Name.name %></li>
		<li><%= Faker::Address.state %></li>
		<li>United States</li>
	</div>

	<div>
		<li><%= Faker::Name.name %></li>
		<li><%= Faker::Address.state %></li>
		<li>United States</li>
	</div>

	<div>
		<li><%= Faker::Name.name %></li>
		<li><%= Faker::Address.state %></li>
		<li>United States</li>
	</div>

	<div>
		<li><%= Faker::Name.name %></li>
		<li><%= Faker::Address.state %></li>
		<li>United States</li>
	</div>

	<div>
		<li><%= Faker::Name.name %></li>
		<li><%= Faker::Address.state %></li>
		<li>United States</li>
	</div>

	<div>
		<li><%= Faker::Name.name %></li>
		<li><%= Faker::Address.state %></li>
		<li>United States</li>
	</div>
</div>	
</Body>

<footer>
	<div class="space2">
		<a href="./">Home</a>
		<a href="./jumps">Jumps</a>
		<a href="./spins">Spins</a>
	</div>
</footer>


